
// Pallete
$primary-blue: #72AAFF;
$accent-blue: #E9F2FF;
$light-blue: #E9F2FF;
$white-blue: #FEFEFF;
$light-grey: #7A7B7C;
$grey: #191a1b;
$dark-grey: #0a0a0a;
$red: #d83030;


// Box shadow
$box-shadow-light: 2px 2px 20px #4078b913;
$box-shadow: 2px 2px 20px #4078b93d;
$box-shadow-hovered: 2px 2px 20px #4078b967;

// Border radius
$border-radius-big: 10px;
$border-radius-small: 5px;