@import "../resources/variables.scss";

.btn {
    border: 0;
    border-radius: $border-radius-small;
    background-color: $primary-blue;
    color: white;
    font-size: 1.125rem;
    font-weight: 300;
    box-shadow: $box-shadow;
    transition: .3s;
    outline: none;

    &:hover {
        box-shadow: $box-shadow-hovered;
        cursor: pointer;
    }
}

.btn-secondary {
    color: $primary-blue;
    background-color: transparent;
    font-weight: 400;
    box-shadow: none !important;
}

.btn-secondary-white {
    color: white;
    background-color: transparent;
    font-weight: 400;
    box-shadow: none !important;
}

.btn-secondary-red {
    color: $red;
    background-color: transparent;
    font-weight: 500;
    box-shadow: none !important;
}