@import "../resources/variables.scss";

.text-field {
    border-radius: $border-radius-small;
    background-color: $accent-blue;
    font-size: 1.125rem;
    font-weight: 300;
    border: 0;
    color: $light-grey;
    padding: 0.625rem 1.75rem;
    outline: none;
}

.chat-text-field {
    width: calc(70% - 3.5rem);
    border: 2px solid #d0d4d6;
    border-radius: $border-radius-small;
    font-size: 1.125rem;
    font-weight: 300;
    color: $light-grey;
    padding: 0.625rem 1.75rem;
    outline: none;
    resize: none;
    
    &:focus {
        border: 2px solid #a7aeb1;
    }
}

.no-borders {
    border: 0;
}

.white-bg {
    background-color: white;
}

.giant-borders {
    border-radius: $border-radius-giant;
}