@import "../resources/variables.scss";

.user-select-card {
    padding: 1.875rem 4.875rem;
    height: fit-content;
    display: flex;
    border-radius: $border-radius-big;
    transition: .2s;

    img {
        width: 4.5rem;
        height: 4.5rem;
        margin-right: 2.375rem;
        border-radius: 100%;
    }

    label {
        font-weight: 300;
        font-size: 1.75rem;
        height: fit-content;
        margin: auto 0;
        margin-right: 2rem;
    }

    &:hover {
        box-shadow: $box-shadow;

        &, label { cursor: pointer; }
    }
}

@media (max-width: $mobile-breakpoint) {
    .user-select-card {
        padding: 1.25rem;

        img {
            width: 3rem;
            height: 3rem;
            min-width: 3rem;
            min-height: 3rem;
            margin-right: 1.25rem;
        }

        label {
            font-weight: 300;
            font-size: 1.25rem;
            height: fit-content;
            margin: auto 0;
            margin-right: 1rem;
        }
    }
}