@import "../resources/variables.scss";

.navbar {
    width: 100%;
    height: 100%;
    background-color: $primary-blue;
    grid-column: 1;
    z-index: 0;
    display: flex;
    flex-direction: column;

    .profile-pic {
        display: block;
        border-radius: 100%;
        border: 2px solid white;
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 1.25rem;
    }

    .navbar-btn {
        background: transparent;
        border: none;
        padding: 0;
        outline: none;
    
        img {
            width: 2rem;
            height: 2rem;
        }


        &:hover {
            cursor: pointer;
        }

    }

}

@media (min-width: $mobile-breakpoint) {
    .navbar {
        .navbar-btn {
            margin: 1rem auto;
            width: 100%;
            &.logout {
                margin-top: auto !important;
            }
        }

    }
}

@media (max-width: $mobile-breakpoint) {
    .navbar {
        flex-direction: row;

        justify-content: space-evenly;

        .profile-pic {
            width: 1.8rem;
            height: 1.8rem;
            margin: 0.7rem 0;
        }

        .navbar-btn {
            margin-top: 1rem;
            margin-bottom: 1rem;

            img {
                width: 1.5rem;
                height: 1.5rem;
            }
    
        }

    }
}